@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body,
  #root,
  .app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
  }
}